body {
    margin: 0;
    height: 100vh; /* Set body height to 100% of the viewport height */
}

#surveyContainer {
    height: 100%; /* Set survey container height to 100% of its parent (body) */
}
.sd-rating__item-smiley--scale-colored:not(.sd-rating__item-smiley--selected){
    opacity: 0.85!important;
}